<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dblp_searcher_alfred_workflow_zeek</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array/>
		<key>CA4E3B7A-DC9E-45BF-99B7-087C374C4377</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6B9A806-5038-4F23-B94F-A3F8CD317F04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E6B9A806-5038-4F23-B94F-A3F8CD317F04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>966BC1B4-441B-416B-B8BB-E6E21C8C8065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>640D4C93-37A4-43FA-8E6C-2EC86B805BA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zeek Wang</string>
	<key>description</key>
	<string>Search for DBLP</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DBLP Searcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dblp</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>DBLP searching...</string>
				<key>script</key>
				<string>import DBLP;
print(DBLP.query_paper("{query}"));</string>
				<key>subtext</key>
				<string>DBLP</string>
				<key>title</key>
				<string>DBLP</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>966BC1B4-441B-416B-B8BB-E6E21C8C8065</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import DBLP;
print(DBLP.query_bib("{query}"));</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6B9A806-5038-4F23-B94F-A3F8CD317F04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dblpbib</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>DBLP searching...</string>
				<key>script</key>
				<string>import DBLP;
print(DBLP.query_paper("{query}"));</string>
				<key>subtext</key>
				<string>DBLP</string>
				<key>title</key>
				<string>DBLP</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA4E3B7A-DC9E-45BF-99B7-087C374C4377</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Bib file copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>640D4C93-37A4-43FA-8E6C-2EC86B805BA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>640D4C93-37A4-43FA-8E6C-2EC86B805BA9</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>966BC1B4-441B-416B-B8BB-E6E21C8C8065</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>CA4E3B7A-DC9E-45BF-99B7-087C374C4377</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>E6B9A806-5038-4F23-B94F-A3F8CD317F04</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
